@media (max-width: 1200px) {
  .container-custom {
    width: 100%;
  }

  .bottles {
    display: none;
  }
}

@media (max-width: 992px) {
  .header-title {
    font-size: 64px;
  }

  .icons {
    display: block;
    margin-top: 20px;
  }

  .icons-wrapper {
    position: relative;

    & > span {
      position: absolute;
      top: 0px;
      left: 0;
    }
  }

  .btn-action {
    padding: 14px 50px;
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .prizes {
    font-size: 18px;
  }

  .prizes-title {
    font-size: 64px;
  }

  .prizes-lists {
    flex-wrap: wrap;
  }

  .prizes-list:first-child {
    margin-bottom: 40px;
  }

  .btn-action {
    width: 320px;
    padding: 12px 20px;
  }
}

@media (max-width: 576px) {
  .header {
    margin-top: 0;
    height: 100vh;
    background-image: url(../images/header-bg-mobile.png);
    background-size: cover;
  }

  .header-logo {
    a {
      display: inline-block;
      padding-top: 10px;
      height: 100%;
    }

    img {
      width: 35px;
    }
  }

  .header-logo {
    height: 100%;
  }

  .menu-wrapper {
    top: -30px;
  }

  .top-line {
    padding-top: 0;
    padding-bottom: 0;
    height: 60px;

    .container {
      height: 100%;
    }
  }

  .header-title {
    font-size: 38px;
  }

  .prizes {
    font-size: 16px;
    padding-bottom: 60px;
  }

  .prizes-title {
    font-size: 38px;
  }

  .prizes-conditions {
    margin-bottom: 50px;
  }

  .program-title {
    margin-bottom: 20px;
  }

  .btn-action {
    bottom: 10%;
    transform: translate(-50%, 100%);
  }
}
