@media (max-width: 1800px) {
}

@media (max-width: 1400px) {
  .header {
    background-position: 50% 130px;
  }
}

@media (max-width: 1200px) {
  .container-custom {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .header {
    background-position: 30% 130px;
  }

  .icons {
    display: block;
    margin-top: 20px;
  }

  .icons-wrapper {
    position: relative;

    & > span {
      position: absolute;
      top: 0px;
      left: 0;
    }
  }
}

@media (max-width: 768px) {
  .prizes {
    font-size: 18px;
  }

  .header-title {
    font-size: 64px;
  }

  .prizes-title {
    font-size: 64px;
  }

  .prizes-lists {
    flex-wrap: wrap;
  }

  .prizes-list:first-child {
    margin-bottom: 40px;
  }
}

@media (max-width: 500px) {
  .header {
    background-position: 31% 130px;
  }

  .header-title {
    font-size: 38px;
  }

  .prizes {
    font-size: 16px;
  }

  .prizes-title {
    font-size: 38px;
  }

  .prizes-conditions {
    margin-bottom: 50px;
  }

  .program-title {
    margin-bottom: 20px;
  }
}
