@media (max-width: 1200px) {
  .container-custom {
    width: 100%;
  }

  .bottles {
    display: none;
  }
}

@media (max-width: 992px) {
  .header-title {
    font-size: 64px;
  }

  .icons {
    display: block;
    margin-top: 20px;
  }

  .icons-wrapper {
    position: relative;

    & > span {
      position: absolute;
      top: 0px;
      left: 0;
    }
  }

  .btn-action {
    padding: 14px 50px;
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .prizes {
    font-size: 18px;
  }

  .prizes-title {
    font-size: 64px;
  }

  .prizes-lists {
    flex-wrap: wrap;
  }

  .prizes-list:first-child {
    margin-bottom: 40px;
  }

  .btn-action {
    width: 320px;
    padding: 12px 20px;
  }
}

@media (max-width: 500px) {
  .header-title {
    font-size: 38px;
  }

  .prizes {
    font-size: 16px;
  }

  .prizes-title {
    font-size: 38px;
  }

  .prizes-conditions {
    margin-bottom: 50px;
  }

  .program-title {
    margin-bottom: 20px;
  }
}
